.zeig{
    position:absolute;
    transform-origin: 50% 0;
    border-radius: 4px;
    border-color:#333;
    top: 50%;
    left: 50%;
    transform: translateX(-50%), rotate(180deg), ;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    border-style: solid;
}

#zh{
    height:30%;
    border-color: #00f;
    border-width: 5px;
}

#zm{
    height:45%;
    border-color: #710;
    border-width: 7px;
}

#zs{
    height:40%;
    border-width:3px;
}

#cbody{
    top:40%;
    left:50%;
    transform: translate(-50%,-40%);
    position:absolute;
    width: 500px;
    height:500px;
    border-radius: 50%;
    background: rgb(150,150,180);
    box-shadow: 2px 3px 5px black;
}

#center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:40px;
    height:40px;
    border-radius: 50%;
    background: radial-gradient(#fff 0%, #000 100%);
    box-shadow: 2px 3px 5px black;
}
